*{margin: 0; padding:0}

body{
background-color: #FFE4E1;
padding-top: 10vh;
}
.form-container-student{
width: 900px;
height: auto;
padding: 20px 30px;
background-color: #fff;
border-radius: 10px;
box-shadow: 0 0 10px 0 #000;
margin: auto;
}