*{margin: 0; padding:0}

body{
background-color:#e7f5fe;
padding-top: 10vh;
}
h4{
padding-left: 20px;
}
h6{
padding-left: 30px;
}
.form-container{
width: 250px;
height: auto;
padding: 20px 30px;
background-color: #fff;
border-radius: 10px;
box-shadow: 0 0 10px 0 #000;
margin: auto;
}
.info{
width: auto;
height: 220;
background-color:#808080;
padding: 20px;
margin-top: 100px;
}
.contact{
text-align: center;
padding-top: 20px;
width: auto;
height: 115px;
background-color:#595959
}
ul.list{
list-style-type: none;
text-align: center;
}
ul.list li{
width: 250px;
margin-bottom: 15px;
}

.button1{
	background-color: #808080;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
 }
