  *{margin: 0; padding:0}
   body{
    background-color: #F8F8FF;
padding-top: 10vh;
    }
    .welcome{
    width: 200px;
    height: auto;
    padding: 20px 30px;
    background-color: #ffe44d;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #000;
    margin: auto;
    }
    ul.welcomescreen{
    text-align:center;
    }
    input[type=text]{
    width: 200px;
    height: 10px;
    padding: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 5px;
    }
